/* Base styles */
html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-secondary-50);
  color: var(--color-secondary-900);
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  transition: color 0.2s, background-color 0.2s;
}

[data-mantine-color-scheme="dark"] body {
  background-color: var(--color-secondary-900);
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Selection styles */
::selection {
  background-color: var(--color-primary-200);
  color: var(--color-primary-900);
}

[data-mantine-color-scheme="dark"] ::selection {
  background-color: var(--color-primary-800);
  color: var(--color-primary-100);
}

/* Link styles */
a {
  color: var(--color-primary-600);
  font-weight: 500;
  text-decoration: inherit;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-primary-800);
}

[data-mantine-color-scheme="dark"] a {
  color: var(--color-primary-400);
}

[data-mantine-color-scheme="dark"] a:hover {
  color: var(--color-primary-300);
}